body {
    margin: 0px;
    font-family: 'roboto', sans-serif;

}

#myVideo {
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0, 4);


}

.container {
    background-image: url("photos/v8cjo01hacdc1.png");
    /* Border width is already included */
    width: 97%;
    height: 80vh;
    /* Adjust as needed */

    /* Centering */
    display: flex;
    justify-content: center;
    /* Centers horizontally */
    align-items: top;
    /* Centers vertically */
    margin: 0 auto;
    /* Centers the container itself horizontally */

    /* Centers the container itself */
    text-align: center;
    /* Ensures text is centered */
    flex-direction: row;
    /* Ensure the container is row-based (default) */

    background-size: cover;
    /* Ensure the image covers the whole container */
}

/* Create the semi-transparent overlay */

.title {
    color: #ff0000;
    font-size: 60px;
    padding-top: 30px;
    text-shadow: #ff0000 1px 0 10px;
}

.description {
    color: #ffffff;
    font-size: 20px;
    padding-top: 30px;
    text-shadow: #ff0000 1px 0 10px;
}


.site-name {
    color: #ffffff;
    font-size: 45px;
    padding-top: 30px;

}


.navbar ul li text {
    color: #ffffff;

}

.navbar ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    width: 100%;
    height: 120px;
    background-color: #0000000e;


}

.navbar ul img {
    padding: 20px;

    height: 70px;
    float: left;

}

.navbar a {
    text-align: center;
    text-decoration: none;
    position: relative;
    color: white;
    display: block;
    font-size: 20px;
    transition: all 0.5s;
    margin: 10px;
    padding-top: 30px;
    margin-right: 50px;
    text-transform: capitalize;

}

.border-text {
    border: 2px solid #ffffff;
    padding: 5px 30px;
    border-radius: 3px;

}

.navbar a::after {
    content: '';
    height: 2px;
    width: 100%;
    background-color: white;
    position: absolute;
    left: 0;
    bottom: -10px;
    opacity: 0;
    transition: all 0.5s;
    pointer-events: none;
}



.navbar a:hover::after {
    opacity: 1;
}

a:hover .border-text {
    border-color: #ffb27b;
    /* Optional: Background color on hover */
    color: #ffb27b;
    /* Optional: Change text color on hover */
}

.navbar a:hover {
    color: #ffb27b;
}

.navbar li {
    float: right;
}