html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    font-family: "Black Ops One", system-ui;
    font-weight: 10;
    font-style: normal;


}

.content {
    flex: 1;
    /* pushes footer to bottom */

}

#myVideo {
    position: fixed;
    /* Ensures it covers the whole page */
    top: 0;
    left: 0;
    /* Makes sure it stretches to the bottom */
    object-fit: cover;
    /* Ensures the video fills the space without distortion */
    z-index: -1;
    /* Keeps it behind the content */

}

.container {
    /* Border width is already included */
    width: 100%;
    height: 80vh;
    /* Adjust as needed */
    /* Centering */
    display: flex;
    justify-content: center;
    /* Centers horizontally */
    align-items: top;
    /* Centers vertically */
    margin: 0 auto;
    /* Centers the container itself horizontally */

    /* Centers the container itself */
    text-align: center;
    /* Ensures text is centered */
    flex-direction: row;
    /* Ensure the container is row-based (default) */

    background-size: cover;
    /* Ensure the image covers the whole container */
    overflow: hidden;
    margin-bottom: 50px;
    /* Prevents the video from overflowing the container */

}

/* Create the semi-transparent overlay */

.title {
    color: #ff0000;
    font-size: 60px;
    padding-top: 30px;
    text-shadow: #ff0000 1px 0 10px;



}

#background-video {
    position: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Ensures the video covers the whole container */
    z-index: -1;
    /* Puts the video behind the text */

}





.mos {
    margin-top: 100px;
    position: absolute;
    color: rgb(255, 255, 255);
    /* White color text for visibility */
    text-shadow: #111 1px 0 10px;
    font-family: "Silkscreen", sans-serif !important;
    font-weight: 600;
    font-style: normal;
    font-size: 3rem;
    /* Adjust text size */
    /* Makes sure the text stays on top of the video */
    text-shadow: rgb(129, 63, 32) 0px 0 10px;

}

.mos pre {
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;
    /* Adjust as needed */
    animation:
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;
    font-family: "Silkscreen", sans-serif !important;
    font-weight: 100;
    font-style: normal;
    text-shadow: #111 1px 0 10px;
}


@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}


.button {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #d54d48;
    border-radius: 25px;
    color: #ffffff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    transition: all 0.5s;
    margin: 300px;
    font-family: "Silkscreen", sans-serif;
    font-weight: 300;
    font-style: normal;


}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.border-text {
    border: 2px solid #ffffff;
    padding: 5px 30px;
    border-radius: 3px;

}

.button:hover span {
    padding-right: 30px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}


@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.button::after,
.button::before {
    --angle: 0deg;
    content: '';
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), transparent 50%, #ffffff);
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 3px;
    border-radius: 25px;
    animation: 3s spin linear infinite;
}

@keyframes spin {
    from {
        --angle: 0deg;
    }

    to {
        --angle: 360deg;
    }
}

.button::before {
    filter: blur(1.5rem);
    opacity: 0.8;
}