/* From Uiverse.io by juan-sued */
.cardo {
    position: relative;
    width: 250px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 12px;
    gap: 12px;
    border-radius: 8px;
    margin: auto;
    margin-top: 150px;

    overflow: hidden;
    z-index: 1;

}

.photoG {
    border: 6px solid transparent;
    border-image: linear-gradient(to right, #000000e7, #a35918) 1;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.cardo::before {
    content: "";
    position: absolute;
    inset: 0;
    left: -3px;
    margin: auto;
    width: 300px;
    height: 700px;
    border-radius: 10px;
    background: linear-gradient(-45deg, #000000 0%, #a35918 100%);
    pointer-events: none;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    z-index: -1;
}

.cardo::after {
    z-index: -1;
    width: 300px;
    height: 700px;
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(-45deg, #000000 0%, #a35918 100%);
    transform: translate3d(0, 0, 0) scale(0.95);
    filter: blur(20px);
}

.heading_ {
    font-size: 0px;
    text-transform: capitalize;
    font-weight: 700;

}

.name {
    font-size: 24px;
    color: rgb(255, 255, 255);
    margin: 0;
    text-align: center;


}

.cardo:hover::after {
    filter: blur(30px);
    transform: rotate(-180deg);
    transition: all 0.5s;
}

.cardo:hover::before {
    transform: rotate(-180deg);
    transition: all 0.1s;
}

.catog {

    font-size: 16px;
    color: #ffffff;
    font-weight: 400;
    border: 2px solid #ffffff;
    padding: 2px 6px;
    border-radius: 20px;
    display: inline-block;
    margin-right: auto;
}



/* From Uiverse.io by Allyhere */
.btn-donate {
    --clr-font-main: hsla(0 0% 20% / 100);
    --btn-bg-1: #fa9b4e;
    --btn-bg-2: #f35c05;
    --btn-bg-color: hsla(360 100% 100% / 1);
    --radii: 0.5em;
    cursor: pointer;
    padding: 0.9em 1.4em;
    min-width: 120px;
    min-height: 44px;
    font-size: var(--size, 1.2rem);
    font-family: "Black Ops One", system-ui;
    font-weight: 500;
    transition: 0.8s;
    background-size: 280% auto;
    background-image: linear-gradient(325deg,
            var(--btn-bg-2) 0%,
            var(--btn-bg-1) 55%,
            var(--btn-bg-2) 90%);
    border: none;
    border-radius: var(--radii);
    color: var(--btn-bg-color);
    box-shadow:
        0px 0px 20px #ff821c,
        0px 5px 5px -1px rgba(58, 125, 233, 0.25),
        inset 4px 4px 8px rgba(175, 230, 255, 0.5),
        inset -4px -4px 8px #df5708;
    margin-top: auto;
}

.btn-donate:hover {
    background-position: right top;
}

.btn-donate:is(:focus, :focus-visible, :active) {
    outline: none;
    box-shadow:
        0 0 0 3px var(--btn-bg-color),
        0 0 0 6px var(--btn-bg-2);
}

@media (prefers-reduced-motion: reduce) {
    .btn-donate {
        transition: linear;
    }
}