.footer,
.footer p {
    text-align: center
}

.footer {
    background-color: #111;
    color: #fff
}

.icon2 {
    width: 25px;
    height: auto
}

.footer ul {
    list-style: none
}

.footer ul li {
    margin-top: 20px
}

.footer ul li a {
    color: #fff;
    text-decoration: none
}

.footer p {
    font-size: 20px;
    width: 50%;
    margin: auto
}

.box ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px
}

.btn-E,
.btn-W,
.btn-X {
    background: 0 0;
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    object-fit: fill;
    font-size: 50px;
    font-family: "Black Ops One", system-ui
}

.btn-E:hover,
.btn-W:hover,
.btn-X:hover {
    border: .5px solid #ff7b00;
    color: #ff7300;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer
}