.submit,
body,
html {
    font-family: "Black Ops One", system-ui
}

.login_error {
    color: red
}

.Head,
.submit {
    color: #fff
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1
}

.login-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center
}

.login-form,
.signup-form {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, .7);
    padding: 50px;
    border-radius: 10px;
    gap: 15px;
    width: 400px;
    height: 400px
}

.name,
input[type=password] {
    font-size: 18px;
    padding: 20px;
    border: 2px solid #000;
    border-radius: 8px;
    background-color: #1e0f00;
    color: #fff;
    caret-color: white
}

input::placeholder {
    color: #fff
}

.submit {
    background-color: #ff7300;
    border: none;
    font-display: swap;
    font-weight: 70;
    font-style: bold;
    padding: 12px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 8px;
    align-self: center;
    width: 100%
}

.submit:hover {
    background-color: rgba(255, 115, 0, .73)
}

.login,
.signup {
    color: #f80;
    text-decoration: none;
    align-self: flex-end
}