.profile-btn,
.username {
    font-size: 1.1rem;
    color: #fff
}

.navbar,
.sidebar {
    position: fixed;
    top: 0
}

.navbar,
.sidebar.active {
    right: 0
}

.navbar.scrolled,
.profile-btn {
    transition: background-color .3s
}

.navbar {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    left: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    border-bottom: 5px solid #fff;
    font-family: "Black Ops One", system-ui;
    font-weight: 100
}

.logo-container,
.user-profile {
    display: flex;
    align-items: center;
    gap: 1rem
}

.logo {
    height: 40px;
    width: auto
}

.nav-links-mobile {
    display: flex;
    gap: 7rem;
    list-style: none;
    margin-top: 100px
}

.nav-links-mobile li {
    padding-top: 50px
}

.nav-links a,
.nav-links-mobile a {
    color: #fff;
    text-decoration: none;
    font-size: 2.1rem;
    transition: color .3s
}

.nav-links a:hover {
    color: #ff7300
}

.profile-btn {
    background: 0 0;
    border: none;
    cursor: pointer;
    padding: .5rem 1rem;
    border-radius: 5px
}

.btn,
.mobile-menu-btn,
.sidebar-close {
    border: none;
    cursor: pointer
}

.profile-btn:hover {
    background-color: rgba(255, 255, 255, .1)
}

.mobile-menu-btn {
    display: none;
    background: 0 0;
    color: #fff;
    font-size: 1.5rem;
    padding: 0;
    margin: 0
}

.sidebar {
    right: -1200px;
    width: 350px;
    height: 100vh;
    background-color: #111;
    padding: 2rem;
    transition: right .3s;
    z-index: 999;
    box-shadow: -2px 0 5px rgba(0, 0, 0, .2);
    margin-top: 100px
}

.sidebar .nav-links {
    flex-direction: column;
    margin-top: 21rem
}

.sidebar-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: 0 0;
    color: #fff;
    font-size: 1.5rem
}

.sidebar-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 998
}

.sidebar-overlay.active {
    display: block
}

@media (max-width:480px) {
    .nav-links {
        display: none
    }

    .mobile-menu-btn,
    .nav-links-mobile,
    .sidebar {
        display: block
    }
}

@media (max-width:576px) {
    .nav-links {
        display: none
    }

    .mobile-menu-btn,
    .nav-links-mobile,
    .sidebar {
        display: block
    }
}

@media (max-width:768px) {
    .nav-links {
        display: none
    }

    .mobile-menu-btn,
    .nav-links-mobile,
    .sidebar {
        display: block
    }
}

@media (max-width:992px) {
    .nav-links {
        display: none
    }

    .mobile-menu-btn,
    .nav-links-mobile,
    .sidebar {
        display: block
    }
}

.btn,
.navbar a.links {
    text-align: center;
    position: relative;
    display: block;
    margin: 10px 50px 10px 10px;
    text-decoration: none;
    color: #fff;
    transition: .5s
}

.btn {
    background-color: #f2613500;
    align-self: center;
    align-content: center;
    font-size: 30px;
    padding-top: 6px;
    padding-bottom: 6px
}

.btn:hover,
.navbar a.links:hover {
    color: #ffb27b
}

.navbar ul {
    list-style-type: none;
    padding: auto;
    margin-bottom: 20px;
    overflow: hidden;
    height: auto;
    background-color: rgba(0, 0, 0, 0)
}

.navbar ul li text {
    color: #fff
}

.navbar a.links {
    font-size: 20px;
    padding-top: 12px;
    text-transform: capitalize
}

.navbar a.icon {
    text-decoration: none;
    opacity: 100;
    color: #fff;
    text-shadow: #ec8005 0 7px 1px
}

.navbar a.icon:hover {
    text-decoration: none;
    color: #ffffffab;
    text-shadow: #ec8005 0 7px 1px
}

.site-name {
    color: #fff;
    font-size: 55px;
    font-family: "Pixelify Sans", sans-serif;
    text-shadow: #ffb27b 5px 0 20px;
    margin-right: auto
}

.navbar a.links::after {
    content: '';
    height: 2px;
    width: 100%;
    background-color: #fff;
    position: absolute;
    left: 0;
    bottom: -10px;
    opacity: 0;
    transition: .5s;
    pointer-events: none
}

.navbar a.links:hover::after {
    opacity: 1
}

.navbar li {
    float: left
}

.navbar.scrolled {
    background-color: #ff6200
}