/* Navigation bar */

.navbar {
    background: #f26135;
    border-bottom: #ffffff 5px solid;
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    margin-bottom: 200px;
}

.navbar ul {
    list-style-type: none;
    padding: auto;
    margin-bottom: 20px;
    overflow: hidden;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.014);
}



.navbar ul li text {
    color: #ffffff;
}

.navbar a.links {
    text-align: center;
    text-decoration: none;
    position: relative;
    color: white;
    display: block;
    font-size: 20px;
    transition: all 0.5s;
    margin: 10px;
    padding-top: 12px;
    margin-right: 50px;
    text-transform: capitalize;
}

.navbar a.icon {
    text-decoration: none;
    opacity: 100;
    color: #ffffff;
    text-shadow: rgb(236, 128, 5) 0px 7px 1px;
}

.navbar a.icon:hover {

    text-decoration: none;
    color: #ffffffab;
    text-shadow: rgb(236, 128, 5) 0px 7px 1px;


}



.site-name {
    color: #ffffff;
    font-size: 55px;
    font-family: "Pixelify Sans", sans-serif;
    text-shadow: #ffb27b 5px 0 20px;

}



.navbar a.links:hover {
    color: #ffb27b;
}

.navbar a.links::after {
    content: '';
    height: 2px;
    width: 100%;
    background-color: white;
    position: absolute;
    left: 0;
    bottom: -10px;
    opacity: 0;
    transition: all 0.5s;
    pointer-events: none;
}

.navbar a.links:hover::after {
    opacity: 1;
}

.navbar li {
    float: right;
}