.mos,
.mos pre {
    font-family: Silkscreen, sans-serif !important
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: "Black Ops One", system-ui;
    font-weight: 100;
}

.content {
    flex: 1
}

#myVideo {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;
    z-index: -1
}

.container {
    width: 100%;
    top: 0;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: top;
    margin: 0 auto 50px;
    text-align: center;
    flex-direction: row;
    background-size: cover;
    overflow: hidden;
    box-shadow: #ff5e00 1px 20px 8px
}

.title {
    color: red;
    font-size: 60px;
    padding-top: 30px;
    text-shadow: red 1px 0 10px
}

.button,
.mos {
    color: #fff;
    font-style: normal
}

#background-video {
    position: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
    z-index: -1
}

.mos {
    margin-top: 150px;
    position: absolute;
    font-weight: 600;
    font-size: 3rem;
    text-shadow: #813f20 0 0 10px;
    width: 100%
}

.button,
.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: .5s
}

.mos pre {
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: pre-wrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: 3.5s steps(100, end) typing, .75s step-end infinite blink-caret;
    font-weight: 100;
    font-style: normal;
    text-shadow: #111 1px 0 10px
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

.button {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
    background-color: #d54d48;
    border-radius: 25px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 32px;
    margin: 300px;
    font-family: Silkscreen, sans-serif;
    font-weight: 300
}

.box,
.overlay {
    display: none;
    position: fixed
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: .5s
}

.border-text {
    border: 2px solid #fff;
    padding: 5px 30px;
    border-radius: 3px
}

.button:hover span {
    padding-right: 30px
}

.button:hover span:after {
    opacity: 1;
    right: 0
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false
}

.button::after,
.button::before {
    --angle: 0deg;
    content: '';
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), transparent 50%, #fff);
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 3px;
    border-radius: 25px;
    animation: 3s linear infinite spin
}

@keyframes spin {
    from {
        --angle: 0deg
    }

    to {
        --angle: 360deg
    }
}

.button::before {
    filter: blur(1.5rem);
    opacity: .8
}

.overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 998
}

.box {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    z-index: 999
}

.user_voted {
    border: 1px solid #fff;
    border-radius: 10px;
    width: 30%
}

.close_button,
.delete_account {
    background-color: #d54d48;
    border-radius: 25px;
    color: #fff;
    padding: 15px 32px;
    cursor: pointer
}

.close_button {
    margin-left: 170px
}

.delete_account {
    margin-left: 10px
}